version: 2
jobs:
  build-clang-32:
    docker:
      - image: jmgao/debian-buster-mingw-w64:latest
    steps:
      - checkout
      - run:
          name: Delete POSIX threading model files
          command: rm -rf /usr/lib/gcc/i686-w64-mingw32/7.3-posix
      - run:
          name: Generate clang build files
          command: ./build/generate.sh
      - run:
          name: Build 32-bit clang
          command: ninja -C build/i686 install
      - run:
          name: Copy binaries to workspace
          command: mkdir -p /workspace/clang/i686 && cp dist/i686/*.dll /workspace/clang/i686
      - persist_to_workspace:
          root: /workspace
          paths:
            - clang/i686
      - store_artifacts:
          path: dist/
          destination: dhc/
  build-clang-64:
    docker:
      - image: jmgao/debian-buster-mingw-w64:latest
    steps:
      - checkout
      - run:
          name: Delete POSIX threading model files
          command: rm -rf /usr/lib/gcc/x86_64-w64-mingw32/7.3-posix
      - run:
          name: Generate clang build files
          command: ./build/generate.sh
      - run:
          name: Build 64-bit clang
          command: ninja -C build/x86_64 install
      - run:
          name: Copy binaries to workspace
          command: mkdir -p /workspace/clang/x86_64 && cp dist/x86_64/*.dll /workspace/clang/x86_64
      - persist_to_workspace:
          root: /workspace
          paths:
            - clang/x86_64
  build-gcc-32:
    docker:
      - image: jmgao/debian-buster-mingw-w64:latest
    steps:
      - checkout
      - run:
          name: Delete POSIX threading model files
          command: rm -rf /usr/lib/gcc/i686-w64-mingw32/7.3-posix
      - run:
          name: Generate gcc build files
          command: ./build/generate.sh --use-gcc
      - run:
          name: Build 32-bit gcc
          command: ninja -C build/i686 install
      - run:
          name: Copy binaries to workspace
          command: mkdir -p /workspace/gcc/i686 && cp dist/i686/*.dll /workspace/gcc/i686
      - persist_to_workspace:
          root: /workspace
          paths:
            - gcc/i686
  build-gcc-64:
    docker:
      - image: jmgao/debian-buster-mingw-w64:latest
    steps:
      - checkout
      - run:
          name: Delete POSIX threading model files
          command: rm -rf /usr/lib/gcc/x86_64-w64-mingw32/7.3-posix
      - run:
          name: Generate gcc build files
          command: ./build/generate.sh --use-gcc
      - run:
          name: Build 64-bit gcc
          command: ninja -C build/x86_64 install
      - run:
          name: Copy binaries to workspace
          command: mkdir -p /workspace/gcc/x86_64 && cp dist/x86_64/*.dll /workspace/gcc/x86_64
      - persist_to_workspace:
          root: /workspace
          paths:
            - gcc/x86_64
  package:
    docker:
      - image: circleci/buildpack-deps:bionic
    steps:
      - run: mkdir /tmp/dhc
      - attach_workspace:
          at: /tmp/dhc
      - run:
          name: Create ZIP archive
          command: zip -r -9 /tmp/dhc.zip /tmp/dhc && mv /tmp/dhc.zip /tmp/dhc
      - store_artifacts:
          path: /tmp/dhc
          destination: dhc/

workflows:
  version: 2
  build:
    jobs:
      - build-clang-32
      - build-clang-64
      - build-gcc-32
      - build-gcc-64
      - package:
          requires:
            - build-clang-32
            - build-clang-64
            - build-gcc-32
            - build-gcc-64
